@import "./styles/_globals.scss";
@import "./styles/media-query-mixin.scss";
@import "./styles/layout/header.scss";
@import "./styles/layout/section-main.scss";
@import "./styles/layout/side-panel.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 100%;
    height: 100vh;
    word-wrap: none;
    white-space: nowrap;
}

ul {
    list-style-type: none;
}

.vert-center {
    align-self: center;
}

.flex-right{
    margin-left: auto;
}

.negative {
    color: #cb474c;
}

.positive {
    color: #37d16a;
}

.dim {
    color: $font-col-dim;
}

.caps {
    text-transform: uppercase;
}

.title {
    color: #fff;
    font-size: 1.6rem;
    white-space: nowrap;
    letter-spacing: 0.1rem;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(7rem, 1.3fr) 16fr 7fr;
    grid-auto-rows: 100%;
    
    @include tablet{
         
    };
}
