.header {
    $header: '.header';

    background: -webkit-linear-gradient(bottom, $gradient-dark, $gradient-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem 0;

    color: $font-col-dim;
    font-size: 2.5rem;
    text-align: center;

    &__nav {
        list-style-type: none;
    }

    &__nav-items {
        height: 5rem;
        line-height: 5rem;
    }

    &__items:nth-child(2) {
        #{$header}__nav-items{
            margin: 2rem auto;
        }
    }

    &__nav-items--active, &__nav-items:hover {
        cursor: pointer;
        border-left: 0.4rem solid $active;
        background-color: $highlight;
        color: $font-col-light;
    } 
    
    @include mobile{
        background: $standard-col;
        z-index: 1000;
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        padding: 0;
        height: 5rem;
        box-shadow: 0 .05rem .5rem .02rem #111;

        &__items {
            width: 100%;
            line-height: 5rem;
        }

        &__items:nth-child(2n-1) {
            display: none;
        }

        &__items, &__nav-items {
            background: none;
            display: inline;
        }

        &__nav {
            height: 0;
        }

        &__nav-items {
            padding: 0 5%;

            &:hover {
                background-color: transparent;
            }
        }

        &__nav-items--active, &__nav-items:hover {
            border-left: none;
            background-color: none;
            // color: $font-col-light;
        } 
    };
}