@import "../components/button.scss";

@mixin header($selector){
    #{$selector}__area {
        &:nth-child(2) {
            height: 55%;
        }
    }

    #{$selector}__header {
        padding-top: $gap-size;
        color: $font-col-dim;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #{$selector}__title {
        width: 50%;
        & p {
            letter-spacing: .08rem;

            & i {
                font-size: 1.5rem;
            }
        }
    }

    #{$selector}__controls {
        align-self: center;
    }

    #{$selector}__nav {
        list-style: none;
    }

    #{$selector}__items {
        display: inline-block;
        padding: 0 1rem;
        height: 2.5rem;
        line-height: 2.2rem;

        &--active {
            color: #fff;
            border: .12rem solid #fff;
            border-radius: .5rem;
        }
    }

    #{$selector}__btn {
        width: 15rem;
        height: 4rem;
        align-self: center;
    }

    button {
        @include button;
    }
}