@import "../components/card-btn.scss";

@mixin footer{
    .card-results {
        height: 15rem;

        &__scroller {
            overflow: hidden;
            white-space: nowrap;
            padding-left: $gap-size;

            &:hover {
                overflow-x: scroll;
            }
        }

        @include card-btn(rgba($highlight, 0.4));

        @include mobile{
            height: 30rem;

            &__scroller:hover, &__scroller {
                overflow-x: hidden;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 $gap-size-m;
            }
        };
    }
}