@import "../components/card.scss";
@import "section-mid-header.scss";
@import "section-footer.scss";

.section_main {
    $main: '.section_main';

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: -webkit-linear-gradient(bottom, $standard-col, #3b4576);
    box-shadow: 0px 0px 0.5rem $gap-color;
    z-index: 100;
    
    & > div {
        padding: 0 $gap-size;

        &:last-child {
            padding: 0;
        }
    }

    .select-stats__area {
        &:first-child {
            height: 25%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: $gap_size;
        }
        @include card('.select-stats');
    }

    @include header('.preview-stats');
    @include footer;

    @include mobile{
        padding-top: 10vh;

        .select-stats__area {
            &:first-child {
                height: 20vh;
            }
           overflow-x: scroll;
        }
    };
}