@import "../components/card-btn.scss";

@mixin footer{
    .card-results {
        height: 15rem;

        &__scroller {
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            padding-left: $gap-size;

            &:hover {
                overflow-x: scroll;
            }
        }

        @include card-btn(rgba($highlight, 0.4));
    }
}