@mixin bottom($selector) {    
    #{$selector}__content {
        overflow: hidden;
        height: 100%;
        padding-bottom: 6rem;
    }

    #{$selector}__results {
        border-radius: 1.6rem;
        margin: 1.5rem 0;
        background-color: #333c73;
    }

    #{$selector}__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @include mobile {
        #{$selector}__content {
            padding-bottom: 0;
        }
    }

    #{$selector}__item {
        padding: 1.5rem;

        & > .img {
        //    width: 6rem;
        }

        & h1 {
            font-size: 2.3rem;
            text-align: center; 
        }

        &:first-child p {
            font-size: 1.3rem;
        }

        .inner {
            font-size: .8rem;
            font-weight: 1;
            word-spacing: .2rem;
            background-color: $button-color;
            border: .4rem solid $button-color;
            border-bottom: .1rem solid $button-color;
            border-top: .1rem solid $button-color;
            border-radius: .3rem;
            margin-left: -2.5rem;
        }
    }
}