.side-panel {
    background: -webkit-linear-gradient(bottom, $gradient-dark, $gradient-light);
    display: flex;
    flex-direction: column;
    padding: 0 $gap-size;

    & > div {
        height: 50%;
        overflow: hidden;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding-top: $gap-size;
        text-align: center;

        i {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            background-color: rgba($active, 0.3);
            border-radius: .6rem;
            cursor: pointer;
        }
    }

    // &::before{
    //     content: "";
    //     z-index: 100;
    //     position: absolute;
    //     display: block;
    //     width: 3rem;
    //     margin-left: -6rem;
    //     height: 100vh;
    //     background: -webkit-linear-gradient(left, rgba(#000, 0), rgba($gradient-dark, 0.7));
    // }

    &__content {
        overflow: hidden;
        height: 100%;
        padding-bottom: 6rem;
    }

    &__results {
        height: 20rem;
        padding-top: 1rem;
        border-radius: 1.6rem;
        margin: 1.5rem 0;
        background-color: #333c73;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        padding: 2rem;

        & > .img {
           width: 6rem;
        }

        & h1 {
            // font-size: 
        }

        & p {
            font-size: 1.3rem;
            word-spacing: 4rem;
        }
    }
}