@mixin card-btn($bg-color) {
    &__card {
        width:22rem;
        height:12rem;
        display: inline-block;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 2rem;
        background-color: $bg-color;

        &:nth-child(1n+2){
            margin-left: $gap-size;
        }

        & > div {
            height: 50%; 
        }
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0 0 .4rem;

        & h2 {
            font-size: 1.2rem;
        }
    }

    &__bottom {
        padding: 1rem 0 0 2.5rem;
    }
    
    &__bottom-item {
        display: inline-block;
        
        & h1 {
            letter-spacing: .2rem;
        }
    }

    @include tablet {
        &__card {
            width:18rem;
        }

        &__top {
            padding: .8rem 0 0 .2rem;
    
            & h2 {
                font-size: 1rem;
            }
        }
    }

    @include mobile {
        &__card {
            width: 45vw;
            margin: $gap-size-m 0rem !important;
            border-radius: 1rem;
        }

        &__top {
            padding: .7rem 0 0 .2rem;
    
            & h2 {
                font-size: .8rem;
            }
        }

        &__bottom-item h1 {
            font-size: 1.2rem;
        }
    }
}