$gradient-dark: #191E4E;
$gradient-darker: rgb(16, 19, 51);
$gradient-mid: #262d5f;
$gradient-light: #394077;
$standard-col: #22264e;
$standard-col2: #333b6a;
$gap-color: #1c2247;
$highlight: #3a4172;
$active: #5963b6;
$font-col-light: #fff;
$font-col: #fbfbfc;
$font-col-dim: #c2c5da;
$button-color: #6b75ca;

$gap-size: 3rem;
$gap-size-m: 1rem;