$gradient-dark: #22274e;
$gradient-light: #394077;
$standard-col: #22264e;
$standard-col2: #333b6a;
$gap-color: #1c2247;
$highlight: #3a4172;
$active: #5963b6;
$font-col-light: #fff;
$font-col: #fbfbfc;
$font-col-dim: #959ab9;

$gap-size: 3rem;